.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.7rem;
  text-decoration: underline;
  padding: 20px 10px;
}

.articles {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}