.container {
  display: flex;
  flex-direction: column;
  height: calc(50% - 1px);
  padding: 10px;
  width: 100%;
}

.image {
  width: 100%;
  height: 50%;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 0;
}

.text {
  font-size: .9rem;
  font-weight: 300;
}