.container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  padding: 10px;
}

.image {
  height: 60%;
  width: 100%;
}

.title {
  font-size: 1.6rem;
  padding: 20px 0;
}

.text {
  font-size: .8rem;
}